
<!DOCTYPE html>
<html>
    <head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
        <title>
             KIDO
        </title>
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
      <link rel="stylesheet" href="/stylesheets/app.css">

    </head>

     <body>
<nav class="navbar navbar-expand-lg navbar-light">
  <a class="navbar-brand " href="#">KDIO</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/aboutus">About <span class="sr-only">(current)</span></a>
      </li>
       <li class="nav-item active">
        <a class="nav-link" href="#">Stories <span class="sr-only">(current)</span></a>
      </li>
      
      
      
    </ul>
    
    <button class="log btn btn-outline-success my-2 my-sm-0" type="submit"><a href="/register">SignUp</a></button>
    <button class="log btn btn-outline-success my-2 my-sm-0" type="submit"><a href="/login">LogIn</a></button>
  </div>
</nav>

<div class="card text-center">
  
  <div class="card-body">
    <h2 class="card-title">Today's Milk Report</h2>
    
    <% users.forEach(function(user){ %>
  </div>
  <div class="card-footer text-muted"><button type="button" class="btn btn-primary"><a href="/clint"></a>Refresh</button>
    Dear, <%= user.name %> these is your todays milk report in detail :)
  </div>
</div>

		 
		 
		 
		 
		 
		 <div class="container">
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">MilkID</th>
      <th scope="col">Name</th>
      <th scope="col">Last Update</th>
      
      
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row"><%= user.Milkid %></th>
      
      <td><%= user.name %></td>
      <td><%= user.Date %></td>
     
    </tr>
  
  </tbody>
</table>
</div>





<div class="container">
  <table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">SR.No</th>
		<th scope="col">Milk QT</th>
      <th scope="col">FAT</th>
      <th scope="col">SNF</th>
      <th scope="col">PROTIEN</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1.</th>
		<td><%= user.Milkqt %></td>
      <td><%= user.deg %></td>
      <td><%= user.snf %></td>
      <td><%= user.pro %></td>
    </tr>
    
  </tbody>
</table>


</div>

		 
		 
		 
		 
	<div class="container">
		<div class="card">
			<button type="button" class="btn btn-warning btn-lg jam" onclick="window.location.href = '/livestock';">LiveStock</button>
		</div>
		 </div>	 
		 

<div class="container">
	<% }) %>
	
	<div class="card">
		<button type="button" class="btn btn-danger  btn-lg btn-block"  onclick="window.location.href = '/logout';">Loging you Out > > ></button>
	</div>
  
</div>

		 
		 	  <div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4"></h1>
    <p class="lead">!! Handcrafted for Rular India !!</p>
  </div>
</div>
 
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    </body>
</html>




